<div class="contact-container">

  <div class="form">
    <label>Name</label>
    <input>
    <label>E-mail</label>
    <input>
    <label>Message</label>
    <textarea></textarea>
    <button type="submit">Send</button>
  </div>

  <div class="overlay"></div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4500.82626695428!2d12.5422813!3d55.6644157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652539d7405235d%3A0x1c07a94d2061da05!2sR%C3%B8ddinggade+12%2C+1735+K%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1544541449535"
    frameborder="0"
    style="border:0"
    allowfullscreen>
  </iframe>

</div>
