<div class="about-container">

  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh ipsum, gravida ultricies elementum sit amet,
    iaculis sit amet lorem. Maecenas eleifend metus semper massa placerat vestibulum. Maecenas nec rhoncus risus.
    Phasellus ex velit, posuere vestibulum tempor vitae, semper et turpis. Mauris vitae ex ut mi maximus accumsan sit
    amet eget sapien. Pellentesque dapibus elit at congue vestibulum. Suspendisse consectetur eu ante ultricies aliquet.
    Curabitur vel tellus pharetra mauris dictum gravida sed ut nunc. Pellentesque tincidunt bibendum arcu, a suscipit
    tellus varius vel. Cras sodales nibh a lorem mollis, ac vehicula sem pretium. Vivamus ornare magna id congue
    tincidunt. Duis sed lacinia quam. In pellentesque sit amet turpis auctor posuere. Praesent consectetur in felis ac
    laoreet. Integer ac neque ultrices, ullamcorper nisi sed, aliquet tortor. Donec at consectetur nibh, in consequat
    tortor.
    <br><br>
    Fusce aliquet erat arcu, in dapibus erat mollis dictum. Phasellus vitae dolor ac nisi malesuada posuere. Curabitur
    faucibus nisl imperdiet lorem pretium sodales. Sed et ipsum ultrices quam eleifend iaculis. Phasellus ipsum ligula,
    tempor id metus ut, sodales luctus leo. Pellentesque maximus nibh sed nibh euismod congue. Morbi eget cursus turpis.
    Cras quis sem ac nunc tincidunt iaculis. Nunc finibus aliquam urna vel finibus. Aenean sed ipsum id nisl euismod
    pretium eget sed neque. Phasellus vel turpis nisi. Praesent quis ex mi. Curabitur eu condimentum mauris,
    ac eleifend ipsum.
    <br><br>
    Praesent suscipit neque massa, a condimentum turpis iaculis at. Aenean faucibus lacus ligula, non eleifend metus
    iaculis sed. Vestibulum nec leo risus. Quisque rhoncus laoreet purus, vel dapibus massa pulvinar quis. Nunc non
    lorem ex. Nam in tellus ut libero dictum mattis. Phasellus sit amet nisl faucibus, ullamcorper massa sit amet,
    faucibus odio. Curabitur nec turpis ultrices, maximus leo id, consectetur lectus. Vivamus a orci at elit sodales
    auctor. Proin ac magna sem.
  </p>

  <div class="background">
    <div class="avatar">
      <img src="./assets/images/mathis.jpg">
    </div>
  </div>

  <div class="overlay"></div>

</div>
