.about-container {
  margin-top: 80px;
  animation: fadein 1s;

  .text {
    position: absolute;
    width: calc(50% - 100px);
    height: calc(100% - 130px);
    padding: 50px;
    left: 0;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    //text-align: justify;
    color: #EFEFEF;
    margin: 0;
  }

  .avatar {
    position: relative;
    display: inline-block;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 20;

    img {
      clip-path: circle(160px at center);
    }
  }

  .background {
    animation: fadein 1s;
    position: absolute;
    width: 50%;
    height: calc(100% - 80px);
    right: 0;
    margin: 0;
    opacity: 0.5;
    background-color: #FFA700;
  }
}
