<div class="header-container">

  <div class="logo no-select">
    <h1 [routerLink]="'/home'" class="logo-text">mathis.</h1>
  </div>

  <div class="menu no-select">
    <p *ngFor="let item of menuItems" [routerLink]="item.routerLink" routerLinkActive="selected-menu-item" class="menu-item">{{item.name}}</p>
  </div>

  <div class="social no-select">

    <div *ngFor="let item of socialItems" class="social-item tooltip">
      <span class="tooltiptext">{{item.name}}</span>
      <a [href]="item.link" target="_blank">
        <img [src]="item.src" class="">
      </a>
    </div>

  </div>

</div>
