.header-container {
  position: fixed;
  background-color: #282828;
  width: 100%;
  height: 80px;
  opacity: 0.98;
  animation: floatdown 1s;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  position: absolute;
  padding: 15px 0;
  margin: 0 25px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  animation: fade_in 3s;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  cursor: pointer;
  outline: none;

  h1 {
    //text-transform: uppercase;
    //font-family: 'Roboto', sans-serif;
    font-size: 36px;
    letter-spacing: 5px;
    font-family: 'Garamond', sans-serif;
    font-weight: lighter;
    color: #efefef;
    margin: 0;
  }
}

.menu {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  animation: fade_in 3s;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  opacity: 1;
  color: #777777;

  .menu-item {
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin: 0 12px;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      opacity: 0;
      background: #FFA700;
      transition: 0.5s;
      margin-top: 5px;
    }

    &:hover {
      color: #efefef;
      transition: 0.3s;
    }
  }
}

.selected-menu-item {
  color: #efefef;

  &:after {
    width: calc(100% - 5px) !important;
    opacity: 1 !important;
  }
}

.social {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}

.social-item {
  display: inline-block;
  margin-left: 15px;

  img {
    height: 20px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    background-color: #181818;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 50%);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #181818 transparent;
    }
  }
    &:hover .tooltiptext {
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    text-align: center;
    width: 100%;
    left: 0;
    margin: 0 0 30px 0;
    transform: translateY(-80%);
  }

  .menu {
    top: 90%;
    width: 100%;
    right: 0;
    text-align: center;
    transform: translateY(-80%);
    font-size: 10px;
  }

  .menu-item {
    margin: 10px !important;
  }

  .social {
    visibility: hidden;
    display: none;
  }
}


