.header-container {
  position: fixed;
  background-color: #282828;
  width: 100%;
  height: 80px;
  opacity: 0.98;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  position: absolute;
  padding: 15px 0;
  margin: 0 25px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  animation: fade_in 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  cursor: pointer;
  outline: none;

  h1 {
    font-family: 'Garamond', sans-serif;

    color: #efefef;
    margin: 0;
  }
}

.menu {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  font-family: 'Garamond', sans-serif;
  animation: fade_in 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  opacity: 1;
  color: #777777;

  .menu-item {
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin: 0 12px;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      opacity: 0;
      background: #B40024;
      transition: 0.5s;
    }

    &:hover {
      color: #efefef;
      transition: 0.3s;
    }
  }
}

.selected-menu-item {
  color: #efefef;

  &:after {
    width: 100% !important;
    opacity: 1 !important;
  }
}

.social {
  position: absolute;
  right: 25px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);

  img {
    height: 20px;
  }

  button:not(:last-child) {
    margin-right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    text-align: center;
    left: 0;
    width: 100%;
    margin-bottom: 30px;
    transform: translateY(-80%);
  }

  .menu {
    top: 90%;
    width: 100%;
    right: 0;
    text-align: center;
    margin-right: 0;
    transform: translateY(-80%);
    font-size: 16px;
  }

  .social {
    visibility: hidden;
    display: none;
  }
}


